* { 
   
    padding: 0; 
  }

.itemImage {
    height: auto; 
    width: auto; 
    max-width: 150px; 
    max-height: 150px;
}

.itemMargin{
    margin: 10px;
}

.itemCard {
    border: solid 1px black;
    max-width: 11rem;
    height: 12rem;
}

.itemLayout{
    width: 200px;
}

.itemLargeImage{
    height: auto; 
    width: auto; 
    max-width: 400px; 
    max-height: 400px;
}

